# Application 
WHITELISTED_CORS=["https://entity.hypersign.id","*"]
PORT=3001

# Database connection
BASE_DB_PATH="mongodb+srv://<username>:<password>@nodetest.dsj9j.mongodb.net"
DB_CONFIG="?retryWrites=true&w=majority"

# Provide public exposed service base url with / in the end
ENTITY_API_SERVICE_BASE_URL=http://api.entity.hypersign.id/

HID_NETWORK_RPC=https://rpc.prajna.hypersign.id/
HID_NETWORK_API=https://api.prajna.hypersign.id
HID_NETWORK_NAMESPACE=testnet
NETWORK='testnet'

# Keys dir (Optional)
EDV_CONFIG_DIR='.api-edv-config'
EDV_DID_FILE_PATH='.api-edv-config/edv-did.json'
EDV_KEY_FILE_PATH='.api-edv-config/edv-keys.json'

# KMS
## These three are same in entity developer dashboard service env
MNEMONIC="...grid antenna comic desk lunch test clutch case agree depend salmon dragon..."
JWT_SECRET='e8b86afe-3fc6-4c97-a44d'

# Data vault
EDV_BASE_URL=https://stage.hypermine.in/vault
VAULT_PREFIX='hs:developer-dashboard:'

# Prefix which gets attached to every new tenant subdomain
TENANT_SUBDOMAIN_PREFIX='ent-'
SERVICE_SUFFIX="SSI_API"
NODE_ENV= 'production'
// development

